@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'bitters/bitters';

$border-box-sizing: true;
$red: #FF4040;

main {
  @include outer-container;
}

header {
  @include span-columns(12);
  @include row();
  nav {
    text-align: center;

    ul {

      li {
        display: inline;

        a {
          padding: 20px 40px 10px 40px;
          display: inline-block;
          border-bottom: solid 2px transparent;
          &:hover {
            border-bottom: solid 2px $red;
          }
        }
      }
    }
  }
}

section {
  @include span-columns(10);
  article {
    @include span-columns(10 of 10);
    .comments {
      @include shift(1 of 10);
    }
  }
}

aside {
  @include span-columns(2);
  @include omega();
  background-color: $red;
  border-radius: 5px;
  padding: 10px;
  h3 {

  }
  a {
    color: white;
  }
}

footer {
  @include span-columns(12);
  @include row();
  text-align: center;
  margin: 40px 0;
}
